name: "Build GitHub Pages Dist"

on:
  push:
    branches: [ master ]
    
jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Use Node.js 15.x
      uses: actions/setup-node@v1
      with:
        node-version: 15.x
    - name: Checkout Sources
      uses: actions/checkout@v2
      with:
        ref: master
        path: source
    - name: Checkout GitHub Pages
      uses: actions/checkout@v2
      with:
        ref: gh-pages
        path: pages
    - name: Cleanup Pages
      run: |
        cd pages
        git fetch --tags
        git reset --hard GHPAGES-ROOT
        cd ..
    - name: Build dist
      run: |
        cd source
        yarn install
        yarn build --mode production --dest ../pages --modern --no-unsafe-inline 
        cd ..
    - name: Upload built pages 
      run: |
        cd pages
        git config --local user.name 'github-actions'
        git config --local user.email 'github-actions@users.noreply.github.com'
        git add --all
        git commit -m "ci: update"
        git push -f 
